<ul>
	<li>University of Illinois</li>
	<ul>
		<li>PhD in Computer Science (August 2012)
			<ul>
				<li>Thesis: <em><a href="#ellison-2012-phd-dissertation">A Formal Semantics of C with Applications</a></em></li>
				<li>Advisor: <a href="http://fsl.cs.illinois.edu/index.php/Grigore_Rosu">Grigore Roșu</a></li>
				<li>Committee: 
					<a href="http://osl.cs.illinois.edu/members/agha.html">Gul Agha</a>, 
					<a href="http://formal.cs.uiuc.edu/meseguer/">José Meseguer</a>, 
					<a href="http://research.microsoft.com/~schulte">Wolfram Schulte</a>
				</li>
				<li>I focused on programming language semantics and semantic frameworks for defining programming languages.  
					My dissertation included the first complete formal semantics for the C programming language, as well as tools for interpreting C, catching undefined behavior, and model checking, all automatically derived from the semantics.
				</li>
			</ul>
		</li>
		<li>Masters in Computer Science (May 2008)
			<ul>
				<li>Thesis: <em><a href="#ellison-2008-masters-thesis">A Rewriting Logic Approach to Defining Type Systems</a></em></li>
			</ul>
		</li>
	</ul>
	<li>North Carolina State University (December 2005)
		<ul>
			<li>BS in Computer Science</li>
			<li>BS in Mathematics (Focus in Abstract Algebra)</li>
			<li>Minor in Cognitive Science</li>
		</ul>
	</li>
</ul>