<ul>
	<li>OkCupid</li>
	<ul>
		<li>Developed algorithm and implemented system returning correlated interests to a user's interests.</li>
		<li>Developed pluggable system to easily evaluate AB testing for website.</li>
		<li>Designed and implemented new search system for making recommendations based on users' previous actions.</li>
		<li>Developed techniques to analyze and evaluate site health.</li>
	</ul>
	<li>Intel Corporation</li>
	<ul>
		<li>Developed tools to optimize loading data and to discover relationships between data in massive databases of manufacturing data.</li>
		<li>Received highest reviews last 3 years.</li>
	</ul>
</ul>