<ul>
	<li>Independent Contractor for Hi-Rez Studios (September 2017&ndash;November 2017)
		<ul>
			<li>Developed new matchmaking system to quickly group game players of different skill levels into fair matches quickly.</li>
		</ul>
	</li>
	<li>OkCupid (October 2012&ndash;March 2015)
		<ul>
			<li>Developed algorithm and implemented system returning correlated interests to a user's interests.</li>
			<li>Developed pluggable system to easily evaluate AB testing for website.</li>
			<li>Designed and implemented new search system for making recommendations based on users' previous actions.</li>
			<li>Developed techniques to analyze and evaluate site health.</li>
		</ul>
	</li>
	<li>Intel Corporation (Summers 2003, 2004, 2006, and 2007)
		<ul>
			<li>Developed tools to optimize loading data and to discover relationships between data in massive databases of manufacturing data.</li>
			<li>Received highest reviews last 3 years.</li>
		</ul>
	</li>
</ul>