<h3>Major</h3>
<dl>
	<dt><a href="https://www.thebettermeta.com/">The Better Meta</a></dt>
	<dd>
		An aggregate stats page for <a href="http://www.hirezstudios.com/">Hi-Rez</a>'s free-to-play, team-based, first-person shooter <a href="https://www.paladins.com/">Paladins</a>.
		Has interactive, auto-updating graphs informing players of top picks and strategies.
	</dd>
	<dt><a href="https://github.com/ellisonch/CFGLib">CFGLib</a></dt>
	<dd>
		A C# library for (Probabilistic) Context Free Grammars (PCFGs).
		Supports probability-preserving conversion to Chomsky Normal Form (CNF), as well as the CYK and Earley parsing algorithms.
		These algorithms allow you to tell whether or not a grammar could have generated a given string, and if so, at what probability they are generated.
		In addition, the Earley algorithm supports returning a parse forest (containing all possible parse trees) in Shared Packed Parse Forest (SPPF) format.
	</dd>
	<dt><a href="https://github.com/kframework/c-semantics">C-Semantics</a></dt>
	<dd>
		This project represents the ongoing effort to fully specify the semantics of the C programming language using the semantic definitional framework K.
		My contributions were described in my <a href="#ellison-2012-phd-dissertation">dissertation</a>, a paper on the <a href="#ellison-rosu-2012-popl">positive semantics</a>, and a <a href="#ellison-rosu-2012-tr">technical report</a>/<a href="#hathhorn-ellison-rosu-2015-pldi">paper</a> on the negative semantics.
		For this project, I used continuous integration and a huge number of integration and regression tests to make sure the semantics stayed correct as it became more complete.
	</dd>
	<dt><a href="https://github.com/davidlazar/llvm-semantics">LLVM-Semantics</a></dt>
	<dd>
		This project is a collaboration between me and <a href="https://davidlazar.org/">David Lazar</a> to give an executable semantics to the LLVM assembly language (LLVM IR) in the K Semantic Framework.
		A significant subset of the language was defined, but the work was not completed.
	</dd>
	<dt><a href="https://github.com/ellisonch/ricochet">Ricochet</a></dt>
	<dd>
		Ricochet RPC is an RPC framework for C# focusing on speed and robustness.
	</dd>
</dl>
<h3>Minor</h3>
<dl>
	<dt><a href="https://github.com/ellisonch/bootstrap">Bootstrap</a></dt>
	<dd>
		Simple bootstrapped two-sample t-test in C#.
	</dd>
	<dt><a href="https://github.com/ellisonch/esolang-semantics">Esolang Semantics</a></dt>
	<dd>
		Formal semantics for some simple esoteric programming languages.
	</dd>
	<dt><a href="https://github.com/ellisonch/gertrude">Gertrude</a></dt>
	<dd>
		Gertrude is a simple term rewriting language, written in Go.
	</dd>
	<dt><a href="https://github.com/ellisonch/sobriquet">Sobriquet</a></dt>
	<dd>
		A very simple name generator for C# based on Markov chains.
	</dd>
	<dt><a href="https://github.com/ellisonch/rust-stopwatch">Stopwatch</a></dt>
	<dd>
		A small library for Rust (my first foray into learning the language) used for timing things.
	</dd>
	<dt><a href="https://github.com/ellisonch/warpwallet">WarpWallet</a></dt>
	<dd>
		This is an implementation of <a href="https://keybase.io/warp">WarpWallet</a> (a brain wallet generator for Bitcoin) in Go.
	</dd>
</dl>