<ul>
	<li>Mentored two CS undergrads at University of Illinois (2010&ndash;2012)</li>
	<li>TA/Studio Lead for Programming Studio (Spring 2006&ndash;Fall 2007; Fall 2009)
		<ul>
			<li>Taught programming hygiene, structure, and engineering tradeoffs in small sessions.</li>
			<li>Recognized on the "Incomplete List of Teachers Ranked as Excellent" for Spring 2006 and Fall 2006, and the renamed "List of Teachers Ranked as Excellent" for Fall 2007. Additionally received departmental teaching award for Fall 2009.</li>
		</ul>
	</li>
	<li>TA for Software Engineering (Fall 2005)</li>
	<li>Counselor/TA at <a href="http://www.ncgovschool.org/">Governor's School</a> West (Summer 2002)</li>
</ul>