---
layout: page
title: Curriculum Vitae
---

<h2>Basic Info</h2>
Chucky Ellison
<br/>New York, NY
<br/><a href="mailto:{{ site.data.config.email }}">{{ site.data.config.email }}</a>

<h2>Experience as Software Engineer</h2>
{% include experience.html %}

<h2>Teaching</h2>
{% include teaching.html %}

<h2>Education</h2>
{% include education.html %}

<h2>Open Source Projects</h2>
{% include projects.html %}

<h2>Publications</h2>
<h3>Theses</h3>
{% include bib.html type="thesis" %}
<h3>Conference Papers</h3>
{% include bib.html type="conference" %}
<h3>Workshop Papers</h3>
{% include bib.html type="workshop" %}
<h3>Technical Reports</h3>
{% include bib.html type="tr" %}

<h2>Talks</h2>
<ul>
	<li>
		<em>An Executable Formal Semantics of C with Applications</em>
		<br/>39th ACM SIGPLAN-SIGACT Symposium on Principles of Programming Languages (POPL'12).  Philadelphia, PA.  January 27, 2012.
		<br/>
		<a href="/papers/ellison-rosu-2012-popl-slides.pdf">Slides</a>
		<a href="http://www.cse.psu.edu/popl/12/">Site</a>
		<a href="http://dx.doi.org/10.1145/2103621.2103719">Video</a> (with ACM access)
		<p></p>
	</li>
	<li>
		<em>An Executable Formal Semantics of C with Applications</em>
		<br/>3rd Midwest Verification Day (MVD'11).  Minneapolis, MN.  September 30, 2011.  
		<br/>
		<a href="/papers/ellison-c-2011-mvd.pdf">Slides</a>
		<a href="http://www.umsec.umn.edu/events/MVD11">Site</a>
		<p></p>
	</li>
	<li>
		<em>Compiling K Definitions into Competitive Interpreters</em>
		<br/>2nd International Workshop on the K Framework and its Applications (K'11).  Cheile Grădiștei, Romania.  August 8, 2011.  
		<br/>
		<a href="/papers/ilseman-ellison-2010-tr-slides.pdf">Slides</a>
		<a href="http://www.kframework.org/K11/">Site</a>
		<p></p>
	</li>
	<li>
		<em>The K Framework and a Formal Semantics of C</em>
		<br/>2nd Midwest Verification Day (MVD'10).  Iowa City, IA.  September 17, 2010.  
		<br/>
		<a href="/papers/ellison-serbanuta-rosu-2010-mvd-slides.pdf">Slides</a>
		<a href="http://mvd.cs.uiowa.edu/">Site</a>
		<p></p>
	</li>
	<li>
		<em>Formalizing Experimental Languages</em>
		<br/>1st International Workshop on the K Framework and its Applications (K'10).  Nags Head, NC.  August 16, 2010.
		<br/>
		<a href="http://www.kframework.org/K10/">Site</a>
		<p></p>
	</li>
	<li>
		<em>Matching Logic</em> 
		<br/>Integrated Vehicle Health Management / Software Health Management Technical Interchange Meeting.  Co-located with NASA Aviation Safety Program Technical Conference (AvSAFE'09). Tyson's Corner, VA.  November 19, 2009.
		<br/>
		<a href="/papers/rosu-ellison-schulte-2009-SHM-slides.pdf">Slides</a>
		<p></p>
	</li>

</ul>