<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.data.config.name }}</title>
    <meta name="author" content="{{ site.data.config.author }}" />
    <meta name="description" content="{{ site.data.config.description }}" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: { equationNumbers: { autoNumber: "AMS" } }
    });
    </script>
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
    {% for js_file in page.custom_js %}
      <script src='/js/{{ js_file }}.js' type="text/javascript"></script>
    {% endfor %}
    {% include analytics.html %}
  </head>

  <body>
    <div class="wrapper-main">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <div class="site-info">
              <h1 class="site-name"><a href="/">{{ site.data.config.name }}</a></h1>
            </div>
            <nav>
              <a href="/posts">Posts</a>
              <a href="/cv">CV</a>
              <a href="/related">Related</a>
            </nav>
          </header>
        </div>
      </div>
      <div id="main" role="main" class="container">
        {{ content }}
      </div>
      <div class="push"></div>
    </div>
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>
  </body>
</html>
